[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "*"
schedule = "==1.2.1"
requests = "==2.25.1"
mysql-connector-python = "==8.3.0"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.11"
